[Unit]
Description=marathon
After=mesos-master.service
Wants=mesos-master.service

[Service]
ExecStartPre=/usr/local/bin/zookeeper-wait-for-listen.sh
ExecStart=/usr/share/marathon/bin/marathon
Restart=always
RestartSec=20

[Install]
WantedBy=multi-user.target
