[Unit]
Description={{ nginx_metrics_service_name }}
After=docker.service
Requires=docker.service

[Service]
Restart=on-failure
RestartSec=20
TimeoutStartSec=0

ExecStartPre=-/usr/bin/docker rm -f {{ nginx_metrics_service_name }}
ExecStartPre=-/usr/bin/docker pull {{ nginx_metrics_docker_image }}

ExecStart=/usr/bin/docker run \
    --name={{ nginx_metrics_service_name }} \
    --net=host \
    --restart=always \
{% for env_var in nginx_metrics_env_vars %}
    --env {{ env_var.name }}="{{ env_var.value }}" \
{% endfor %}
    {{ nginx_metrics_docker_image }} \
    {{ nginx_metrics_influx_dsn }}

ExecStop=/usr/bin/docker kill {{ nginx_metrics_service_name }}

[Install]
WantedBy=multi-user.target
