{
   "service":{
      "name":"{{ zookeeper_service_name }}",
      "id":"2181:zkid-{{ zookeeper_id | default(groups[zookeeper_server_group].index(inventory_hostname) + 1)}}",
      "address":"{{ ec2_private_ip_address }}",
      "port":2181,
      "check":{
         "args":[
            "/usr/local/bin/zookeeper_check.sh",
            "{{ ansible_default_ipv4.address }}"
         ],
         "interval":"10s",
         "timeout":"2s"
      }
   }
}