{{ pgbouncer_logfile }} {
    missingok
    copytruncate
    compress
    notifempty
    sharedscripts
    create 0644 {{ pgbouncer_admin_user }} {{ pgbouncer_admin_group }}
    daily
    rotate 5
    postrotate
        /bin/kill -HUP `cat {{ pgbouncer_pidfile }}  2>/dev/null` 2> /dev/null || true
    endscript
}
