terraform.tfvars
terraform.tfstate.backup
ssh/aws-key
ssh/aws-key.pub
crash.log
ansible/.env
ansible/group_vars/
ansible/vault/
packer/.env
terraform/.terraform/
terraform/terraform.tfstate
*.pyc
*.ovpn
*.retry
*.plan
*.DS_Store
marathon/apps/docker-custom-registry.json
*.DS_Store

/terraform/terraform.exe
/venv/
.vscode/
