# {{ansible_managed}}

[Unit]
Description=mesos slave
After=network.target{% if use_mesos_lvm %} var-lib-mesos.mount{% endif %}

Wants=network.target{% if use_mesos_lvm %} var-lib-mesos.mount{% endif %}


[Service]
ExecStart=/usr/bin/mesos-init-wrapper slave
KillMode=process
Restart=always
RestartSec=20
TimeoutSec=300
User={{ mesos_owner }}
Group={{ mesos_group }}

[Install]
WantedBy=multi-user.target
