{% if mesos_lvm_backed|bool and mesos_storage_driver in ["btrfs", "overlay", "overlay2"] %}
[volume:mesos]
group = {{ volume_group_name }}
volume = {{ mesos_volume_name }}
size = {{ mesos_volume_size }}

[filesystem:mesos]
dev = {{ mesos_volume_device }}
fstype = {{ mesos_volume_fs_type }}
mount = {{ mesos_volume_mount }}
required_by = mesos-slave.service
{% endif %}
