{
  "service": {
    "name": "{{ kafka_service_consul_name }}",
    "address": "{{ ec2_private_ip_address }}",
    "port": {{ kafka_broker_listeners.external.port }},
    "check": {
      "args": ["systemctl", "is-active", "confluent-kafka"],
      "interval": "10s",
      "timeout": "2s"
    }
  }
}
