{
  "service": {
    "name": "{{ kafka_service_name }}",
    "address": "{{ kafka_listen_address }}",
    "port": {{ kafka_port }},
    "check": {
      "args": ["systemctl", "is-active", "confluent-kafka"],
      "interval": "10s",
      "timeout": "2s"
    }
  }
}
