{
  "service": {
    "name": "{{ kafka_connect_service_name }}",
    "port": 8083,
    "check": {
      "http": "http://localhost:8083/connectors",
      "interval": "10s",
      "timeout": "2s"
    }
  }
}
