[volume:lenses]
group = {{ volume_group_name }}
volume = {{ lenses_volume_name }}
size = {{ lenses_volume_size }}

[filesystem:lenses]
dev = {{ lenses_volume_device }}
fstype = {{ lenses_volume_fs_type }}
mount = {{ lenses_volume_mount }}
required_by = confluent-kafka-connect.service

[write:config]
file = /etc/sysconfig/mantl-storage
content = MANTL_STORAGE_OPTIONS=--storage-driver {{ lenses_storage_driver }}
