[Unit]
Description={{ pgbouncer_consul_service_name }}
After=docker.service
Requires=docker.service

[Service]
Restart=on-failure
RestartSec=20
TimeoutStartSec=0

ExecStartPre=-/usr/bin/docker rm -f {{ pgbouncer_consul_service_name }}
ExecStartPre=-/usr/bin/docker pull {{ pgbouncer_consul_docker_image }}

ExecStart=/usr/bin/docker run \
    --name={{ pgbouncer_consul_service_name }} \
    --net=host \
    --restart=always \
    -v {{ pgbouncer_consul_dir }}/pgbouncer.ini.template:/etc/pgbouncer/pgbouncer.ini.template \
    {{ pgbouncer_consul_docker_image }}

ExecStop=/usr/bin/docker kill {{ pgbouncer_consul_service_name }}

ExecReload=/usr/bin/docker kill -s SIGHUP {{ pgbouncer_consul_service_name }}

[Install]
WantedBy=multi-user.target
