[Unit]
Description=Kafka Daemon
After=zookeeper.service

[Service]
Type=simple
User=kafka
Group=kafka
LimitNOFILE=32768
Restart=on-failure
Environment="KAFKA_HEAP_OPTS={{ kafka_heap_opts }}"
Environment="JMX_PORT={{ kafka_jmx_port }}"
ExecStart=/usr/bin/kafka-server-start /etc/kafka/server.properties

[Install]
WantedBy=multi-user.target
